.notify__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  font-size: 1rem;

  svg {
    width: 1rem;
    height: 1rem;
    fill: white;
  }

  &.notify__icon--error {
    background-color: #f87171;
  }

  &.notify__icon--success {
    background-color: #10b981;
  }

  &.notify__icon--info {
    background-color: #60a5fa;
  }

  &.notify__icon--warning {
    background-color: #f59e0b;
  }
}